@tailwind base;
@tailwind components;
@tailwind utilities;

.parent-arrow div.arrow {
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.parent-arrow div.arrow::before {
  content: "";
  width: 100%;
  height: 100%;
  border-width: 0.2rem 0.2rem 0 0;
  border-style: solid;
  border-color: #000000;
  transition: 0.2s ease;
  display: block;
  transform-origin: 100% 0;
}

.parent-arrow div.arrow::after {
  content: "";
  float: left;
  position: relative;
  top: -90%;
  width: 100%;
  height: 90%;
  border-width: 0 0.2rem 0 0;
  border-style: solid;
  border-color: #000000;
  transform-origin: 100% 0;
  transition: 0.3s ease;
}

.parent-arrow:hover div.arrow::after {
  transform: rotate(45deg) translatex(3%);
  border-color: rgb(0, 174, 255);
  height: 120%;
}

.parent-arrow:hover div.arrow::before {
  border-color: rgb(0, 174, 255);
  transform: scale(0.9);
}
